.badge {
  background-color: tomato;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  border-radius: 10px;
}

.badge__dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
